header{
    position: fixed;
    z-index: 5;
    top: 0;
    left:0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
}
header.black{
    background-color: #111;
}

.text--logo{
    color: #F07B0A;
    font-size: 3rem;
    cursor: pointer;
    z-index:3;
}
.top--user{
   color: #fff;
   cursor: pointer;
}
.api{
    display: block;
}