.container--favorites{
    margin: 20px;
    padding-bottom: -200px;
    margin-left: 100px;
    margin-top: 50px;
}
.topo--favoritos{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
    max-width: 100vw;           
}
.home{
     
    color: #F07B0A;
    left:0;
    right:0;    
    padding:8px 10px;
    cursor:pointer;
    font-weight: bold;
    font-size: 20px;
}
.meus-filmes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.title--destaque{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 0;
    font-size: 40px;
}

.title--favoritos{
    font-weight: bold;
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li{
    margin: 10px;
}

.posterFav{
    max-width: 200px;
    padding-bottom: 10px;
}
.detalhes{
   display: flex;
   justify-content: start;
   align-items: center;
   margin-top: 5px;
}
.ver--detalhes{
    color: #F07B0A;    
}
.excluir{
    margin-left: 30px;
    cursor: pointer;
}
.semFilmes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 110px;
}

.favorites-left,
.favorites-right {
    position: absolute;
    width: 40px;
    height: 320px;
    background-color: rgba(0,0,0,0.6);
    z-index:8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor:pointer;
    opacity:0;
    transition: all ease 0.5s;
}
.favorites-left{
    left: 0px;
}
.favorites-right{
    right:0;
}
.container--favorites:hover .favorites-left,
.container--favorites:hover .favorites-right{
    opacity:1;
}

@media(max-width: 760px){

    .topo--favoritos{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        margin-left: 300px;
        max-width: 100vw;           
    }
    
    .title--destaque{
        font-size: 18px;     
    }
}